@mixin background__header {
    position: relative;
    max-width: 1240px;
    height: 223px;
    border-radius: 25px;
    background: black;
    mix-blend-mode: darken;
    
    @media (max-width : 768px) {
        height: 111px;
    }
}

@mixin background__header-img {
    width: 100%;
    height: 223px;
    object-fit: cover;
    opacity: 0.6;
    border-radius: 25px;
    @media (max-width : 768px) {
        height: 111px;
    }
}

@mixin background__header-text-center {
    position: absolute;
    max-width: 1240px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-size: 48px;
    color: white;
    @media (max-width : 1024px) {
        font-size: 40px;
    }
    @media (max-width : 768px) {
        font-size: 24px;
    }
    @media (max-width : 420px) {
        width: 227px;
        white-space: normal;
    }
}

@mixin dropdown{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: $main-color;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
}
@mixin dropdown__arrow{
    justify-self: end;
}
@mixin dropdown__text{
    justify-items: center;
    background: #F6F6F6;
    padding: 20px;
    color: $main-color;
}

@mixin dropdown__width-large{
    width: 964px;
    height: 32px;
}
@mixin dropdown__title-large{
    font-size: 24px;
    color: white;
}
@mixin dropdown__width-text-large{
    width: 944px;
}

@mixin dropdown__width-medium{
    width: 582px;
    height: 32px;
}
@mixin dropdown__title-medium{
    font-size: 18px;
    color: white;
}
@mixin dropdown__width-text-medium{
    width: 562px;
}

@mixin dropdown__width-small{
    width: 240px;
    height: 32px;
}
@mixin dropdown__title-small{
    font-size: 18px;
    color: white;
}
@mixin dropdown__width-text-small{
    width: 220px;
}