@mixin dropdown {
    .dropdown__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 10px;
        background: $main-color;
        border-radius: 5px;

        .dropdown__title {
            font-size: 24px;
            color: white;
            @media (max-width: 768px){
                font-size: 20px;
            }
        }

        .dropdown__arrow {
            justify-self: end;
        }

        .dropdown__arrow.active {
            transform: rotate(-180deg);
            transition: linear 250ms;
        }
        
        .dropdown__arrow.inactive {
            transform: rotate(0deg);
            transition: linear 250ms;
        }
    }
    
    .dropdown__text {
        display: grid;
        grid-template-rows: 0fr;
        padding: 0 20px;
        background: $background__container;
        color: $main-color;
        font-size: 20px;
        transition: grid-template-rows 500ms;
        @media (max-width: 768px){
            font-size: 16px;
        }
    }
    
    .dropdown__text > div {
        overflow: hidden;  
    }

    .dropdown__text > div > ul > li {
        margin: 20px 0; 
    }
    
    .dropdown__text.active {
        grid-template-rows: 1fr;    
    }
}

@mixin dropdown__large {
    .dropdown__container{
        width: 964px;
    }
       
    .dropdown__text{
        width: 944px;
    }
}

@mixin dropdown__medium{
    .dropdown__container{
        width: 582px;
    }
   
    .dropdown__text{
        width: 562px;
    }

}

@mixin dropdown__small {
    .dropdown__container{
        width: 240px;
    }

    .dropdown__text{
        width: 220px;
    }
}