.home {
    margin: 45px auto 50px auto;
    max-width: 1240px;
    @media (max-width : 1280px) {
        margin: 0 20px 50px 20px;
    }
    @media (max-width : 768px) {
        margin: 0 20px 27px 20px;
    }   
    @include banner;
    @include card__apartment-background;
    @include card__apartment;
}

