.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 45px auto 50px auto;
    max-width: 1240px;
    @media (max-width : 1280px) {
        margin: 45px 20px 50px 20px ;
    }
    @media (max-width: 768px) {
        margin: 20px 20px 27px 20px;
    }

    .kasa-logo__header-img{
        @media (max-width : 768px) {
            width: 145px;
            height: 46px;
        }
        @media (max-width: 375px) {
            width: 100px;
            height: 32px;
        }
    }

    nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-end: end;
        grid-gap: 57px;
        align-items: center;
        font-size: 24px;
        @media (max-width : 768px) {
            grid-gap: 10px ;
            font-size: 12px;
            text-transform: uppercase; 
        }
        
        a{
            color: $main-color;
        }

        .current-page__underline{
            text-decoration: underline;
        }
    }
}