.aPropos{
    margin: 38px auto 38px auto;
    max-width: 1240px;
    @media (max-width : 1280px) {
        margin: 38px 20px 38px 20px;
    }
    @media (max-width : 768px) {
        margin: 19px 20px 19px 20px;
    }

    .background__aPropos-container{
        @include background__header;
       
        .background__aPropos-img{
            @include background__header-img;
        }
    }

    .dropdown__aPropos-container{
        display: grid;
        grid-gap: 30px 0;
        justify-items: center;
        margin-top: 38px;
        @include dropdown__large;
        @media (max-width: 1024px){
            @include dropdown__medium-reponsive;
        }
        @media (max-width: 768px){
            @include dropdown__small-reponsive;
        }
    }
}