.error__container{
    display: grid;
    justify-items: center;
    grid-gap: 139px 0;
    margin: 139px 20px 139px 20px;
    color: $main-color;
    @media (max-width: 768px) {
        margin: 113px 20px 113px 20px;
        grid-gap: 113px 0;
    }

    .error__name{
        font-size: 288px;
        font-weight: 700;
        @media (max-width: 1024px) {
            font-size: 216px;
        }
        @media (max-width: 768px) {
            font-size: 96px;
        }
    }

    .error__text{
        font-size: 40px;
        text-align: center;
        @media (max-width: 1024px) {
            font-size: 30px;
        }
        @media (max-width: 768px) {
            font-size: 25px;
        }
        @media (max-width: 425px) {
            font-size: 20px;
        }
    }

    a{
        text-decoration: underline;
        text-align: center;
        color: $main-color;
        font-size: 30px; 
        @media (max-width: 768px) {
            font-size: 20px;
        }
        @media (max-width: 425px) {
            font-size: 16px;
        }
    }
}

