@mixin host {
    display: grid;
    grid-template-columns: 100% max-content;
    grid-gap: 15px;
    align-items: center;
    justify-items: end;
    color: $main-color;

    .proprietaire_name {
        font-size: 20px;
        width: 60%;
        text-align: right;
    }

    .proprietaire__picture {
        width: 64px;
        height: 64px;
        border-radius: 50px;
    }
}