@mixin host {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 20px;
    align-items: center;
    justify-items: end;
    color: $main-color;

    .proprietaire_name{
        font-size: 20px;
        width: 50%;
        text-align: right;
    }

    .proprietaire__picture{
        width: 64px;
        height: 64px;
        border-radius: 50px;
    }
}